[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
groq = "*"
elevenlabs = "*"
pydub = "*"
speechrecognition = "*"
pyaudio = "*"
gtts = "*"
gradio = "*"

[dev-packages]
